.App {
  background-color: #FCF9F4;
}

.navbar-nav {
  padding: 18px;
}

nav.navbar-light {
  background-color: #F4EBDF;
}

a.nav-link {
  color: #988374;
  margin-left: 20px;
}

span.navbar-text {
  color: #988374; 
}

.calendarContainer {
  margin: 50px;
}

div.row-cols-1 {
  margin-top: 50px;
  padding-bottom: 50px;
}

#home {
  margin-top: 50px;
}

.footer {
  display: flex;
}

.footerIcon {
  justify-content: flex-end;
}

.createdBy {
  justify-content: flex-start;
  font-size: 1rem;
}